EVA_VOSK_MODEL_PATH=/caminho/para/vosk-model-small-pt-0.3
EVA_API_URL=http://127.0.0.1:3000
# EVA_INPUT_DEVICE=default
# EVA_OUTPUT_DEVICE=default
# EVA_WAKE_WORD=eva
# EVA_COMMAND_TIMEOUT=12
# EVA_SPEECH_START_TIMEOUT=5
